<div id="toolbar" *ngIf="isLoggedIn">
    <seo-tls-dbrd-user-profile></seo-tls-dbrd-user-profile>
    
    <!-- Set all the navigation links -->
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems">
            <a  [routerLink]="[menuItem.path]" class="nav-link">
                <i class="{{menuItem.class}}" aria-hidden="true"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </div>
</div>