<div class="row">
  <div class="col-xs-6 mx-auto">
    <div class="card">
      <div class="card-body">
        
        <div class="logo-ctnr">
          <img class="d-block mx-auto" src="/assets/img/webpals-logo.png" alt="">
        </div>
        <h4 class="text-center" i18n="Header|An introduction header for this sample@@loginTitleId">SEO Dashboard Tools Login</h4>
        <form (submit)="onSubmit()">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" 
              placeholder="Email" 
              [(ngModel)]="email" 
              name="email"
              i18n-placeholder="placeholder|just a placeholder sample on an email input field@@emailPlaceHolderId">
          </div>
          <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" [(ngModel)]="password" name="password">
          </div>
          <input (click)= value="Submit" class="btn btn-primary btn-block">
        </form>
      </div>
    </div>
  </div>
</div>
