<div class="card">
    <img class="card-img-top" [src]="'/assets/img/' + userProfile.uid + '.jpg'" alt="user userProfile image">
    <div class="card-body">
      <h6 class="card-title">{{ userProfile.displayName }} </h6>
      <!-- <p class="card-text">displayName: {{ userProfile.displayName }} </p> -->
      <p class="card-text">{{ userProfile.email}} </p>
      <p class="card-text">{{ userProfile.phoneNumber }} </p>
      <!-- <p class="card-text">providerId: {{ userProfile.providerId }} </p> -->
      <!-- <p class="card-text">password: {{ userProfile.password }} </p> -->
      <!-- <p class="card-text">uid: {{ userProfile.uid }} </p> -->
      <!-- <a href="#" class="btn btn-primary" (click)="onUpdateProfile()">update</a> -->

    </div>
  </div>
