<div class="row">
  <div class="col-xs-6 mx-auto">
    <div class="card">
      <div class="card-body">
        
        <div class="logo-ctnr">
          <img class="d-block mx-auto" src="/assets/img/webpals-logo.png" alt="">
        </div>
        <h4 class="text-center">SEO Dashboard Tools Login</h4>
        <form (submit)="onSubmit()">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" [(ngModel)]="email" name="email">
          </div>
          <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" [(ngModel)]="password" name="password">
          </div>
          <input type="submit" value="Submit" class="btn btn-primary btn-block">
        </form>
      </div>
    </div>
  </div>
</div>
